<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="RedisSettingsProvider" type="Settings_Play.ConfigurationSections.RedisConnectionSection,Settings_Play, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="EuroMemberSmsSender" type="Settings_Play.ConfigurationSections.EuroMemberConfigurationSection,Settings_Play, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <RedisSettingsProvider Host="213.243.38.174" Password="" />
  <EuroMemberSmsSender UserName="iturer" Password="123456" MsIsdn="905422476935"/>
</configuration>