<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RedisSettingsProvider" type="Settings_Play.ConfigurationSections.RedisConnectionSection,Settings_Play, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="EuroMemberSmsSender" type="Settings_Play.ConfigurationSections.EuroMemberConfigurationSection,Settings_Play, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="ScheduledJobSection" type="EuroMemberWinService.Jobs.ConfigSections.ScheduledJobSection,EuroMemberWinService,Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <RedisSettingsProvider Host="213.243.38.174" Password="" />
  <EuroMemberSmsSender UserName="iturer" Password="123456" MsIsdn="905422476935" />
  <ScheduledJobSection>
    <CronExpressions>
      <clear />
      <add key="EuroMemberScheduledJob" cronExpression="0 0/2 * 1/1 * ? *" />
    </CronExpressions>
  </ScheduledJobSection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>